/* This file is for your main application css. */

@import "../node_modules/bulma/css/bulma.css";

.tweets-container {
  margin-bottom: 2rem;
}

.thread-arrow {
  display: block;
  margin: 1rem auto;
}
